.body-class {
    background-color: #342f2f; 
  }
  
  .header-class {
    background-color: #333; 
    color: #fff;  }
  
  .nav-class {
    background-color: #444;}
  
  .nav-link-class {
    color: #fff; }
  
  .nav-link-class:hover {
    text-decoration: underline; }
  
  .nav-link-class.active {
    font-weight: bold;}

  .title-class,
  .section-title-class {
    color: #007bff;}
  
  .text-class {
    color: #c2c2c2;}
  

  .image-class {
    border: 2px solid #0812d1; }

  .form-class,
  .button-class {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-class input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .button-class:hover {
    background-color: #0056b3; 
  }

  .footer-class {
    background-color: #444; 
    color: #fff; 
  }